<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><i style="margin-left:15px; margin-top: " class="fas fa-fire-extinguisher"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://2018.spaceappschallenge.org/challenges/volcanoes-icebergs-and-asteroids-oh-my/real-time-fire-app/teams/spacemonkeys/project">Наша команда</a></li>
            <li><a href="https://2018.spaceappschallenge.org/">SpaceApps</a></li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>