.mt3{
    margin-top: 0px;
    /* margin-left: 0px;
    margin-right: 0px; */
}

.fire-content{
    margin-left: 40%;
    margin-top: 10%;
}

.content-center{
    text-align: center;
    margin-top: 15px;
}